<?xml version="1.0" encoding="utf-8"?>

<log4net>
	<root>
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFileAppender" />

		<appender-ref ref="ErrorConsoleAppender" />

		<level value="DEBUG" />
	</root>

	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<datePattern value="yyyy-MM-dd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{ISO8601}|[%thread]|%-5level|%message|%stacktrace{5}%newline" />
		</layout>
	</appender>
	
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="App_Data/Logs/Logs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10000KB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
		</layout>
	</appender>

	<appender name="ErrorConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="ErrorLogger" />
		</filter>
		<datePattern value="yyyy-MM-dd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-40.40logger	%date{ISO8601}	[%thread]	%-5level	%message	%stacktrace{5}	%newline" />
		</layout>
	</appender>
</log4net>